<div class="mt-3">
  <h3 style="font-weight: 700 " class="text-center">Sign In</h3>
</div>
<form [formGroup]="formSignUp">
  <div class="mb-3 offset-lg-3 col-lg-6">
    <label class="form-label" style="font-weight: 700">Email</label>
    <input type="text" class="form-control" formControlName="email">
    <div class="form-text" *ngIf="formSignUp.controls.email.hasError('email')"
         style="color: red">Not email</div>
    <div class="form-text" *ngIf="formSignUp.get('email').hasError('required')
     && formSignUp.get('email').touched" style="color: red">Not null</div>
  </div>

  <div class="mb-3 offset-lg-3 col-lg-6">
    <label class="form-label" style="font-weight: 700">Password</label>
    <input type="password" class="form-control" formControlName="passWord">
    <div style="color: red" class="form-text" *ngIf="formSignUp.get('passWord').
    hasError('minlength')">Must >= 6 keyword</div>
    <div style="color: red" class="form-text" *ngIf="formSignUp.get('passWord').
    hasError('passValid')">Must Duplicate</div>
    <div class="form-text" *ngIf="formSignUp.get('passWord').hasError('required')
     && formSignUp.get('passWord').touched" style="color: red">Not null</div>
  </div>

  <div class="mb-3 offset-lg-3 col-lg-6">
    <label class="form-label" style="font-weight: 700">Age</label>
    <input type="number" class="form-control" formControlName="age">
    <div class="form-text" *ngIf="formSignUp.get('age').hasError('required')
     && formSignUp.get('age').touched" style="color: red">Not null</div>
    <p class="form-text" *ngIf="formSignUp.get('age').hasError('min')
     && formSignUp.get('age').touched" style="color: red">Not enough 18</p>
  </div>

  <div class="mb-3 offset-lg-3 col-lg-6">
    <label class="form-label" style="font-weight: 700">Phone</label>
    <input type="text" class="form-control" formControlName="phone">
    <div class="form-text" *ngIf="formSignUp.get('phone').hasError('pattern')
     && formSignUp.get('phone').touched" style="color: red">+84 xxx xxx xxx(xxxx)</div>
    <div class="form-text" *ngIf="formSignUp.get('phone').hasError('required')
     && formSignUp.get('phone').touched" style="color: red">Not null</div>


  </div>

  <div class="mb-3 offset-lg-3 col-lg-6">
    <label class="form-label" style="font-weight: 700">Country</label>
    <select class="form-select " formControlName="country">
      <option >Open this select menu</option>
      <option value="Australia">Australia</option>
      <option value="UK">UK</option>
      <option value="Việt Nam">Việt Nam</option>
    </select>
    <div class="form-text" *ngIf="formSignUp.get('country').hasError('required')
     && formSignUp.get('country').touched" style="color: red">Not null</div>
  </div>

  <div class="mb-3 offset-lg-3 col-lg-6">
    <label class="form-label" style="font-weight: 700">Gender</label>
    <div >
      <div class="form-check form-check-inline">
        <input value="male" class="form-check-input" type="radio" name="gender"  id="inlineRadio1" formControlName="gender">
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input value="female" class="form-check-input" type="radio" name="gender" id="inlineRadio2" formControlName="gender">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
    </div>
    <div class="form-text" *ngIf="formSignUp.get('gender').hasError('required')
     && formSignUp.get('gender').touched" style="color: red">Not null</div>
  </div>



  <button type="submit" class="btn btn-primary offset-lg-5 col-lg-2 mb-5" [disabled]="formSignUp.invalid">Submit</button>
</form>

