<div class=" container">
  <div class="row">
    <!--<div th:insert="~{/home/home::leftbar}"></div>-->
    <div>
      <!--search-->
      <h3 class="text-decoration-underline">List Employee</h3>
      <a href="/employee/create" >
        <button type="button" class="btn btn-secondary mt-2 mb-3">Create New Employee</button>
      </a>
      <div class="row ">
        <div class="col-9"><input class="form-control mb-3" type="search" placeholder="Search" aria-label="Search"
                                  name="search"></div>
        <div class="col-3">
          <button class="btn btn-outline-secondary form-control" type="submit">🐝 Search</button>
        </div>
      </div>



      <!-- body-->
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="thead-dark text-center">
          <th>No</th>
          <th>Name</th>
          <th>Position</th>
          <th>Division</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>View</th>
          </thead>
          <tbody>
            <tr *ngFor="let ob of employeeList; index as i" class="text-center">
              <td>{{i+1}}</td>
              <td>{{ob.nameEmployee}}</td>
              <td>{{ob.position}}</td>
              <td>{{ob.division}}</td>
              <td><a [routerLink]="['/employee/edit',ob.id]">
                <button type="button" class="btn btn-secondary" >Edit</button>
              </a></td>
              <td>
                <a [routerLink]="['/employee/delete',ob.id]">
                <button type="button" class="btn btn-danger">
                  Delete
                </button>
                </a>
              </td>
              <td><a [routerLink]="['/employee/delete',ob.id]">
                <button type="button" class="btn btn-warning">View</button>
              </a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


