<div class=" container">
  <div class="row">
    <div class="bg-warning">
      <!-- body-->
      <form  method="post">
        <div class="form-group">
          <label class="text-uppercase">Date Begin</label>
          <input type="date" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Date End</label>
          <input type="date" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Deposit</label>
          <input type="number" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Total Money</label>
          <input id="costService" type="number" class="form-control" readonly>
        </div>
        <div class="form-group">
          <label class="text-uppercase">Customer: </label>
          <select class="form-control">
            <option>
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="text-uppercase">Employee: </label>
          <select class="form-control">
            <option>
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="text-uppercase">Service</label>
          <select class="form-control" >
            <option>
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Create New Contract</button>
      </form>
    </div>
  </div>

</div>
