<div class=" container">
  <div class="row">
    <!--<div th:insert="~{/home/home::leftbar}"></div>-->
    <!--<div class="col-4" style="background-color: #494f54">
      &lt;!&ndash;<div th:replace="~{/home/home::leftbar}"></div>&ndash;&gt;
    </div>-->
    <div class=" bg-light">
      </div>
      <!-- body-->
      <!--<form th:action="@{/customer/create}" method="post" th:object="${customerDto}">-->
        <div class="form-group">
          <label class="text-uppercase">NameCustomer</label>
          <input type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label class="text-uppercase">Customer's Code</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Type Customer</label>
          <select  class="form-control">
            <option>
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="text-uppercase">Date Of Birth</label>
          <input type="date" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Card </label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Phone Number </label>
          <input type="number" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Email </label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Address </label>
          <input type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      <!--</form>-->


    </div>
  </div>

