<h3 class="text-center text-decoration-underline">🐝 Create Employee</h3>
<p class="text-center">🐝 {{date|date: 'dd/MM/yyyy'}}</p>
<div class=" container">
  <div class="row">
    <div>
      <form [formGroup]="formCreateEmployee" (ngSubmit)="delete()">
        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Name Employee</label>
          <input disabled type="text" class="form-control" formControlName="nameEmployee">
          <div class="form-text" *ngIf="formCreateEmployee.get('nameEmployee').hasError('required')
     && formCreateEmployee.get('nameEmployee').touched" style="color: red">Not null
          </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Education Degree</label>
          <select disabled class="form-select" formControlName="education_degree">
            <option *ngFor="let list of listEducation" value="{{list}}">{{list}}</option>
          </select>
          <div class="form-text" *ngIf="formCreateEmployee.get('education_degree')
          .hasError('required') && formCreateEmployee.get('education_degree')
          .touched" style="color: red">Not null
          </div>
        </div>

        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Position</label>
          <select disabled class="form-select" formControlName="position">
            <option *ngFor="let list of listPosition" value="{{list}}">{{list}}</option>
          </select>
          <div class="form-text" *ngIf="formCreateEmployee.get('position')
          .hasError('required') && formCreateEmployee.get('position')
          .touched" style="color: red">Not null
          </div>
        </div>

        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Division</label>
          <select disabled class="form-select" formControlName="division">
            <option *ngFor="let list of listDivision" value="{{list}}">{{list}}</option>
          </select>
          <div class="form-text" *ngIf="formCreateEmployee.get('division')
          .hasError('required') && formCreateEmployee.get('division')
          .touched" style="color: red">Not null
          </div>
        </div>

        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Date Of Birth</label>
          <input disabled type="date" class="form-control" formControlName="dateOfBirth">
          <div class="form-text" *ngIf="formCreateEmployee.get('dateOfBirth')
          .hasError('required') && formCreateEmployee.get('dateOfBirth')
          .touched" style="color: red">Not null
          </div>
          <div class="form-text" *ngIf="formCreateEmployee.get('dateOfBirth')
          .hasError('date')" style="color: red">Year must < year recent
          </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Card </label>
          <input disabled type="text" class="form-control" formControlName="card">
          <div class="form-text" *ngIf="formCreateEmployee.get('card')
          .hasError('required') && formCreateEmployee.get('card')
          .touched" style="color: red">Not null
          </div>
          <div class="form-text" *ngIf="formCreateEmployee.get('card')
          .hasError('pattern')" style="color: red">9 or 12 Number
          </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Salary </label>
          <input disabled type="number" class="form-control" formControlName="salary">
          <div class="form-text" *ngIf="formCreateEmployee.get('salary')
          .hasError('required') && formCreateEmployee.get('salary')
          .touched" style="color: red">Not null
          </div>
          <div class="form-text" *ngIf="formCreateEmployee.get('salary')
          .hasError('salary')" style="color: red">Must < 20000000 VND
          </div>
        </div>

        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Phone Number </label>
          <input disabled type="text" class="form-control" formControlName="phoneNumber">
          <div class="form-text" *ngIf="formCreateEmployee.get('phoneNumber')
          .hasError('required') && formCreateEmployee.get('phoneNumber')
          .touched" style="color: red">Not null
          </div>
          <div class="form-text" *ngIf="formCreateEmployee.get('phoneNumber')
          .hasError('pattern')" style="color: red">
            090xxxxxxx or 091xxxxxxx or (84)+90xxxxxxx or (84)+91xxxxxxx
          </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Email </label>
          <input disabled type="text" class="form-control" formControlName="email">
          <div class="form-text" *ngIf="formCreateEmployee.get('email')
          .hasError('required') && formCreateEmployee.get('email')
          .touched" style="color: red">Not null
          </div>
          <div class="form-text" *ngIf="formCreateEmployee.get('email')
          .hasError('email')" style="color: red">
            Must be in the right format 'abc@gmail.com'
          </div>
        </div>
        <div class="form-group">
          <label class="text-uppercase text-weight">🐝 Address </label>
          <input disabled type="text" class="form-control" formControlName="addressEmployee">
          <div class="form-text" *ngIf="formCreateEmployee.get('addressEmployee')
          .hasError('required') && formCreateEmployee.get('addressEmployee')
          .touched" style="color: red">Not null
          </div>
        </div>
        <button class="btn btn-danger mb-3 text-weight" [disabled]="formCreateEmployee.invalid">
          🐝 Delete Employee
        </button>
      </form>
    </div>
  </div>

</div>



