<div class=" container">
  <div class="row">
    <!--<div th:insert="~{/home/home::leftbar}"></div>-->
    <div class="bg-warning">
      <!-- body-->
      <form method="post">
        <div class="form-group">
          <label class="text-uppercase">NameService</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Service's Code</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Area</label>
          <input type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label class="text-uppercase">Type Service</label>
          <select class="form-control">
            <option>
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="text-uppercase">Rent Type Service</label>
          <select class="form-control">
            <option>
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="text-uppercase">Number Of Floors</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Max People</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="text-uppercase">Cost Service </label>
          <input type="number" class="form-control">
        </div>


        <button type="submit" class="btn btn-primary">Create</button>
      </form>


    </div>
  </div>

</div>

